<div class="card m-4">
    <a class="card-body" href="{{ path('app_item', {'id': fridge.id, 'item_id': item.id}) }}">
        <h5 class="card-title">{{ item.product.name }}</h5>
        <p class="card-text">{{ item.id }}</p>
    </a>
</div>
